<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blog</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" />
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'authentication:home_page' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Blog
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if user.is_authenticated %}
              <li>
                <a class="dropdown-item" href="{% url 'post:personal_blog' user.id %}">My Blogs</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'post:create_blog' %}">Create Blog</a>
              </li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'post:top_blogs' %}">Top Blogs</a></li>
              <li><a class="dropdown-item" href="{% url 'post:latest_blogs' %}">Latest Blogs</a></li>
            </ul>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'notification:notification_page' user.id %}">Notifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'authentication:profile_page' user.id %}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'authentication:logout_page' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'authentication:login_page' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'authentication:signup_page' %}">Signup</a>
          </li>
          {% endif %}
        </ul>
        <form class="d-flex" role="search" action="{% url 'post:search_blog' %}" request="GET">
          <input class="form-control me-2" type="search" placeholder="Search Blog Title" name="search_blog" aria-label="Search" />
          <button class="btn btn-outline-success" type="submit">
            Search
          </button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container">{% block bodyblock %} {% endblock %}</div>
  <script src="{% static 'js/edit_user.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>