<!DOCTYPE html>
{% extends 'base.html' %} {% load crispy_forms_tags %} {% block bodyblock %}
  <form method="POST">
    <div id="div_id_username" class="mb-3">
        <label for="id_username" class="form-label requiredField">
          Username
        </label>
        <input
          type="text"
          name="username"
          maxlength="150"
          class="textinput textInput form-control"
          required
          id="id_username"
        />
        <small id="hint_id_username" class="form-text text-muted"
          >Required. 150 characters or fewer. Letters, digits and @/./+/-/_
          only.</small
        >
      </div>
    <div id="div_id_password" class="mb-3">
      <label for="id_password" class="form-label requiredField">
        Password
      </label>
      <input
        type="password"
        name="password"
        maxlength="128"
        class="textinput textInput form-control"
        required
        id="id_password"
      />
    </div>

    <button class="btn btn-primary">Login</button>
    {% csrf_token %}
  </form>
{% endblock %}
