<!DOCTYPE html>
{% extends 'base.html' %} {% load crispy_forms_tags %} {% block bodyblock %}

  <div class="row mt-5">
    {% for blog in blogs %}
    <div class="bg-light col-sm-6 col-md-3 mx-3 my-3 p-4 round-3">
      <div class="thumbnail">
        {% if blog.cover_image %} 
        <img src="{{blog.cover_image.url}}" alt="blog cover" class="round-3 img-fluid mb-2" />
        {% else %}
        <img src="/media/covers/retrosupply-jLwVAUtLOAQ-unsplash.jpg" alt="blog cover" class="round-3 img-fluid mb-2" />
        {% endif %}
        <div class="caption">
          <h3>{{blog.blog_title |title}}</h3>
          <div class="text-center text-muted">{{blog.category}}</div>
          <p>{{blog.summary}}</p>
          <a href="{% url 'post:read_blog' blog.id %}" class="btn btn-primary">Read</a>
          <a href="#" class="btn btn-secondary">Edit</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
