<!DOCTYPE html>
{% extends 'base.html' %} {% load crispy_forms_tags %} {% block bodyblock %}
<h2 class="display-3 text-center">Top Posts</h2>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-2 justify-content-center">
  {% for blog in top_posts %}
  <div class="col">
    <div class="card">
      {% if blog.cover_image %}
      <img src="{{blog.cover_image.url}}" alt="blog cover" class="round-3 img-fluid mb-2" />
      {% else %}
      <img src="/media/covers/retrosupply-jLwVAUtLOAQ-unsplash.jpg" alt="blog cover" class="round-3 img-fluid mb-2" />
      {% endif %}
      <div class="card-body">
        <h5 class="card-title display-6 text-center">{{blog.blog_title |title}}</h5>
        <p class="card-text lead"><small>{{blog.summary}}</small></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item lead">Category: <small>{{blog.category|title}}</small></li>
        <li class="list-group-item d-flex flex-row gap-2 justify-content-center">
            <a href="{% url 'post:read_blog' blog.id %}" class="btn btn-primary">Read</a>
          </li>
      </ul>
    </div>
  </div>
  {% endfor %}
</div>
<h2 class="display-3 text-center">New Posts</h2>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-2 justify-content-center">
  {% for blog in new_posts %}
  <div class="col">
    <div class="card">
      {% if blog.cover_image %}
      <img src="{{blog.cover_image.url}}" alt="blog cover" class="round-3 img-fluid mb-2" />
      {% else %}
      <img src="/media/covers/retrosupply-jLwVAUtLOAQ-unsplash.jpg" alt="blog cover" class="round-3 img-fluid mb-2" />
      {% endif %}
      <div class="card-body">
        <h5 class="card-title display-6 text-center">{{blog.blog_title |title}}</h5>
        <p class="card-text lead"><small>{{blog.summary}}</small></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item lead">Category: <small>{{blog.category|title}}</small></li>
        <li class="list-group-item d-flex flex-row gap-2 justify-content-center">
            <a href="{% url 'post:read_blog' blog.id %}" class="btn btn-primary">Read</a>
          </li>
      </ul>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}